*{
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: DroidSans;
    src: url('fonts/DroidSans.ttf');
}

@font-face{
    font-family: ExpletusSans;
    src: url('fonts/ExpletusSans-Regular.ttf');
}

@font-face{
    font-family: Montserrat-Regular;
    src: url('fonts/Montserrat-Regular.ttf');
}

@font-face{
    font-family: Arvo;
    src: url('fonts/Arvo-Regular.ttf');
}

@import url(http://fonts.googleapis.com/css?family=Roboto);

body {      
    font-family: DroidSans;    
    min-height: 740px;   
    color: #FFFFFF;
    /* color: #000000; */
    
    background-color: #000000;
   /* background-image:url("../images/light-wood.jpg");*/
    
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

/* Defaults */

h1 {
    text-align: center;
    color: #00000;
}

.step {
    width: 1100px;
    padding: 20px;
	font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 65px;
    line-height: 1.5;
}

.first {
    width: 2000px;
    padding: 0px;
}

.first-light {
    width: 2000px;
    padding: 0px;
}

.song {
    width: 1300px;
    padding-top: 10px;
    font-size: 65px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.presentation {
    width: 1500px;
    padding: 0px;
    margin: 0px;
}

.point {
    font-family: Montserrat-Regular;
    color: #f8e094;
}

.text {
    font-family: ExpletusSans;
    color: #f8e094;
}

.dark h1 {
    color: #990000;
}

.small {
    font-family: ExpletusSans;
    font-size: 60px;
    line-height: 1em;
    margin-left: 200px;
    margin-top: 50px;
}

.video {
     padding: 0px;
     width: 1280px;
}

.image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* this is for the slide text on inactive slides*/
.step:not(.active) { opacity: .3; }

/* this hides elemements when they are not in an active slide*/
.step.hide:not(.active) { opacity: 0; }

/* this is for the opacity of all slides that are not the first slide*/
.step.first:not(.active) { opacity: .5; }
/* 0 is full black and 1 is no opacity. Adjust to .3 or .7 depending on how dark you want it*/

.slide{
    display: block;    
    width: 1000px;
    height: 700px;
    font-family: DroidSans;
    color: #EEE;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .9);
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -1px;
    position: relative;  
    
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.title{
    color: #EEE;
    font-family: ExpletusSans;
    font-size: 60pt;
    padding: 20px;
    line-height: 65pt;
    text-align: center;
    position: absolute;
    letter-spacing: normal;
    top: 25%
}

.section-title{
    font-family: ExpletusSans;
    position: absolute;
    top: 30%;
    text-align: center;
    vertical-align: middle;
    font-size: 50pt;
    line-height: 110px;
    width: inherit;
}

.section-title{
    font-size: 50pt;
}

.with_logo{
    top: 10%;
}

.lower{
    top: 40%;
}

#ty{
    margin-top: 10px;
    font-family: ExpletusSans;
    text-align: center;
    font-size: 50pt;
}

.slide-title{
    color: #FFF;
    height: 120px;
    font-size: 36pt;
    line-height: 120px;
}

.slide-title-small{
    font-size: 36pt;
    line-height: 60px;
}

.no-title{
    margin-top: 120px;
}

.slide-content{
    /*height: 473px;*/    
    font-size: 30pt;
    line-height: 40pt;
    padding: 15px 40px;
    text-align: justify;
}

em {
    font-size: 40pt;
    opacity: 0;
}


.lv0_indent{
    margin-left: 30px;
}

.lv1_indent{
    margin-left: 60px;
}

.lv2_indent{
    margin-left: 120px;
}

/* EOF Defaults */

/* Content */

#impress.step-overview .step {
  opacity: 1;
  cursor: pointer;
}

#slide_details{
    font-size: 25px;
    position: absolute;
    bottom: 40px;
    right: 5px;
}

#slide_details p{
    text-align: right;
}

figure#foss_question_logo{
    width: 300px;
    margin: 0 auto;
}

#thank-you p{
    margin-bottom: 10px;
}

#thank-you p img{
    vertical-align: middle;
    opacity: 0.9;
}

#name{
    font-size: 40pt;
}

#email{
    margin-bottom: 20px !important;
    margin-left: -0.3em;
}

a{
    color: #EEE;
    padding: 0.2em 0.3em 0.4em 0.3em;
    text-decoration: none;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

a:link{
    -webkit-transition: 0.3s;
    -moz-transition:    0.3s;
    -ms-transition:     0.3s;
    -o-transition:      0.3s;
    transition:         0.3s;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

a:link:hover {
    background: rgba(255,255,255, 0.2);
}

.img_tb{
    width: 900px;
    margin: 0 auto;
}

.img_tb td{
    text-align: center;
    padding: 3px;
}

/* EOF Content */

/* Fallback */

.fallback-message {
    font-family: DroidSans;
    line-height: 1.3;
    
    display: none;
    width: 780px;
    padding: 10px 10px 0;
    margin: 20px auto;
}

.fallback-message p {
    margin-bottom: 10px;
}

.impress-not-supported .step {
    position: relative;
    opacity: 1;
    margin: 20px auto;
}

.impress-not-supported .slide{
    background: #333;
    border: #666 1px solid;
    
    -webkit-box-shadow: 0 4px 16px rgba(255,255,255,0.5);
    -moz-box-shadow: 0 4px 16px rgba(255,255,255,0.5);
    box-shadow: 0 4px 16px rgba(255,255,255,0.5);
}

.impress-not-supported .slide .slide-title{
    padding: 10px 15px 0 15px;
}

.impress-not-supported .slide .slide-content{
    padding: 15px 40px;
}

.impress-not-supported .fallback-message {
    display: block;
}

/* EOF Fallback */


